name: Build

on: [pull_request]

jobs:

  test-suite:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        suite-name: ["com.twitter.intellij.pants.Suite1", "com.twitter.intellij.pants.Suite2"]
        os: [ubuntu-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2.0.0
      - name: Remove redundant packages
        run: |
          df -h
          #TODO find out the packages that own these files and uninstall them properly
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/lib/android
          df -h
      - name: Prepare the container
        run: |
          docker build --tag ideprobe-pants:local .
      - name: Prepare pants
        env:
          TEST_PATTERN: com.twitter.intellij.pants.PreparePants
        run: |
          echo $TEST_PATTERN
          ./ci/run_docker.sh bash ci/test.sh
      - name: Run ${{ matrix.suite-name }}
        env:
          TEST_PATTERN: ${{ matrix.suite-name }}
        run: |
          echo $TEST_PATTERN
          ./ci/run_docker.sh bash ci/test.sh
      - name: Environment checks
        if: always()
        run: |
          df -h
          du -c -h --max-depth=4 --time --threshold=500M / || true